:root {
    font-size: 20px;
    box-sizing: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 1em/1.618 Inter, sans-serif;
    color: #224;
    background:
        url(/img/nebula-2253941_1280.jpg) center / cover no-repeat fixed;
    min-height: 100vh;
    font: 1em/1.618 sans-serif;
}
a {
position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 6em;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

:hover{
        clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    }