*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{background: #0238FF;
    background: -webkit-linear-gradient(top left, #0238FF, #FF3701);
    background: -moz-linear-gradient(top left, #0238FF, #FF3701);
    background: linear-gradient(to bottom right, #0238FF, #FF3701);
}
img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
        
}
.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: black;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.content{
    white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
}