*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
        background: #00E2FD;
        background: -webkit-radial-gradient(top left, #00E2FD, #FD0151);
        background: -moz-radial-gradient(top left, #00E2FD, #FD0151);
        background: radial-gradient(to bottom right, #00E2FD, #FD0151);
    }
img {
        border-radius: 25%;
        display: block;
        width: 100px;
        height: 100px;
        }
        
.hero{
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background: #FF0152;
        background: -webkit-linear-gradient(top left, #FF0152, #00E2FD);
        background: -moz-linear-gradient(top left, #FF0152, #00E2FD);
        background: linear-gradient(to bottom right, #FF0152, #00E2FD);
}
.logo{
        color: rgb(255, 255, 255);
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
}
span {
        color: black;
}

nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
        background: #0014FF;
        background: -webkit-radial-gradient(top left, #0014FF, #00FF5C);
        background: -moz-radial-gradient(top left, #0014FF, #00FF5C);
        background: radial-gradient(to bottom right, #0014FF, #00FF5C);
}

nav ul li a{
        border-radius: 25px;
     color: rgb(0, 0, 0);
        background-color: rgba(255, 0, 0, 0.253);
        padding: 10px;
        transition: .4s;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
}

.content{
        position: absolute;
        bottom: 50%;
        left: 8%;
        transform: translateY(-50%);
        text-align: center;
}